install
cdrom
lang en_US.UTF-8
keyboard us
rootpw L=hD6!rf<4x{[$^@rDt9wTbp8?28)}
selinux --disabled
firewall --disabled

#timezone UTC
timezone Europe/London --isUtc
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
text
skipx
unsupported_hardware
network --onboot yes --device eth0 --bootproto dhcp --ipv6=auto
zerombr
clearpart --all --initlabel
part / --fstype=ext4 --size=1000 --grow
#autopart --type=lvm
reboot
%packages --nocore --nobase --excludedocs --ignoremissing
@core --nodefaults
NetworkManager
qemu-guest-agent
chrony
-rhn*
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
-alsa-firmware
-alsa-lib
-alsa-tools-firmware
-btrfs-progs
-iprutils
-iwl*firmware
-plymouth*
-wpa_supplicant
-firewalld
-firewalld-filesystem
-ipset
-ipset-libs
-iptables
-python3-firewall
-python3-slip
-libnftnl
-libnfnetlink
-linux-firmware
-geolite2-city
-geolite2-country
-bind-export-libs
%end

%post

yum -y install epel-release
yum -y install cloud-init
yum -y install acpid
yum -y install cloud-utils-growpart
systemctl enable cloud-init-local.service
systemctl enable cloud-init.service
systemctl enable cloud-config.service
systemctl enable cloud-final.service

# Update time
#/usr/sbin/ntpdate -bu 0.fr.pool.ntp.org 1.fr.pool.ntp.org

#sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers
sed -i 's/rhgb //' /etc/default/grub

# Disable consistent network device naming
/usr/bin/ln -s /dev/null /etc/udev/rules.d/80-net-name-slot.rules

# sshd PermitRootLogin yes
sed -i "s/#PermitRootLogin yes/PermitRootLogin yes/g" /etc/ssh/sshd_config

# Enable NetworkManager, sshd and disable firewalld
#/usr/bin/systemctl enable NetworkManager
/usr/bin/systemctl enable sshd
/usr/bin/systemctl disable firewalld

# Need for host/guest communication
/usr/bin/systemctl enable qemu-guest-agent

mkdir -p /etc/sysconfig
touch /etc/sysconfig/qemu-ga
echo 'BLACKLIST_RPC=' > /etc/sysconfig/qemu-ga
echo 'FSFREEZE_HOOK_PATHNAME=/etc/qemu-ga/fsfreeze-hook' >> /etc/sysconfig/qemu-ga

# Update all packages
/usr/bin/yum -y update
#/usr/bin/yum clean

yum remove -y $(yum repoquery --installonly --latest-limit=-1 -q)

# Not really needed since the kernel update already did this. Furthermore,
# running this here reverts the grub menu to the current kernel.
#grub2-mkconfig -o /boot/grub2/grub.cfg
%end